@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Feature.Blocks.Models

@inherits GlassView<ICarouselSlide>

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <fieldset>
        <legend><strong>Carousel slide</strong></legend>

        @Editable(model => model.Image)

        @using (Html.Glass().BeginEditFrame(Model, "Edit Link", model => model.Link))
        {
            <text>Edit Link</text>
        }
    </fieldset>
}
else
{
    <li class="carousel__slide">
        @if (Model.Image != null)
        {
            if (Model.Link != null)
            {
                <a href="@Model.Link.Url" target="@Model.Link.Target" title="@Model.Link.Text">
                    <img src="@Model.Image.Src" srcset="@Model.Image.Src?w=1000 1000w,@Model.Image.Src?w=1800 1800w,@Model.Image.Src?w=2800 2800w" alt="@Model.Image.Alt" />
                </a>
            }
            else
            {
                <img src="@Model.Image.Src" srcset="@Model.Image.Src?w=1000 1000w,@Model.Image.Src?w=1800 1800w,@Model.Image.Src?w=2800 2800w" alt="@Model.Image.Alt" />
            }
        }
    </li>
}
