@using Sitecore.Feature.Blocks
@using Sitecore.Feature.Blocks.Models
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Models.Extensions
@using Glass.Mapper.Sc.Web.Mvc

@inherits GlassView<IHeroBanner>

@if (!Model.IsDerived(Templates.HeroBanner.ID))
{
    @Html.ShowRenderingAlert(nameof(Templates.HeroBanner))
    return;
}

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <fieldset>
        <legend><strong>Hero banner details</strong></legend>

        <p>This section will not be output on the public site, it is only available for content editors to edit parts of this control.</p>

        @using (Html.Glass().BeginEditFrame(Model, "Edit Video", model => model.Video))
        {
            <text>Edit video</text>
        }

        @using (Html.Glass().BeginEditFrame(Model, "Edit Image", model => model.Image))
        {
            <text>Edit image</text>
        }

        @using (Html.Glass().BeginEditFrame(Model, "Edit Primary Action", model => model.PrimaryAction))
        {
            <text>Edit Primary Action</text>
        }

        @using (Html.Glass().BeginEditFrame(Model, "Edit Secondary Action", model => model.SecondaryAction))
        {
            <text>Edit Secondary Action</text>
        }
    </fieldset>
}

<div class="page-intro image-right">
    <div class="grid-x">
        <div class="cell small-12 medium-6 page-intro__image" style="background-color: @(Model.BackgroundColour)">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-12 large-10">
                    @if (Model.Image != null)
                    {
                        <img src="@Model.Image.Src" alt="@Model.Image.Alt">
                    }
                </div>
            </div>
        </div>
        <div class="cell small-12 medium-6 page-intro__text" style="background-color: @(Model.BackgroundColour)">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-12 large-10">
                    @Html.Sitecore().Placeholder("breadcrumb")
                    @if (!string.IsNullOrEmpty(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <h1 class="page-intro__title h2">@Model.Title</h1>
                    }
                    @if (!string.IsNullOrEmpty(Model.Subtitle) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <div class="page-intro__content">
                            @Model.Subtitle
                        </div>
                    }
                    <ul class="page-intro__links">
                        @if (Model.PrimaryAction != null)
                        {
                            <li class="page-intro__link">
                                <a href="@Model.PrimaryAction.Url" class="arrow-link">
                                    <i class="icon icon-chevron-right"></i>
                                    @Model.PrimaryAction.Text
                                </a>
                            </li>
                        }
                        @if (Model.SecondaryAction != null)
                        {
                            <li class="page-intro__link">
                                <a href="@Model.SecondaryAction.Url" class="arrow-link">
                                    <i class="icon icon-chevron-right"></i>
                                    @Model.SecondaryAction.Text
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
