@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Feature.Blocks.Models

@inherits GlassView<IHeroBanner>

<div class="hero-banner">
    <p><strong>Title</strong> @Editable(model => model.Title)</p>
    <p><strong>Subtitle</strong> @Editable(model => model.Subtitle)</p>
    <p><strong>Image</strong> @Editable(model => model.Image)</p>
    <p><strong>Video</strong> @Editable(model => model.Video)</p>
    <p><strong>Primary action</strong> @Editable(model => model.PrimaryAction)</p>
    <p><strong>Secondary action</strong> @Editable(model => model.SecondaryAction)</p>
</div>
